@page
@model WebApp.Pages_JobItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobItem.Job)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobItem.Job!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobItem.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobItem.Item!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobItem?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
