@page
@using DAL.Filters
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApp.MyLibraries
@model IndexModel

@{
    ViewData["Title"] = "Performed jobs";
}

<h1>Performed jobs</h1>

<div class="border border-2 rounded-3 m-3 p-2">
    <div>Total cost: @Model.Entities.Sum(j => j.Cost)</div>
    <div>
        Total items used: @Model.SpentItems.Sum(si => si.Quantity)
        @if (Model.SpentItems.Count > 0)
        {
            <div>
                Items used:
                <div class="d-flex gap-1">
                    @foreach (var spentItem in Model.SpentItems)
                    {
                        <div class="btn btn-outline-dark fake-btn">@spentItem.Item.Name (@spentItem.Quantity)</div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="d-flex gap-4 m-2 mb-4">
    <form method="GET" class="d-flex gap-4">
        @{
            const string completionFilter = nameof(Model.PerformedJobCompletionFilter);
            const string contextQuery = nameof(Model.ContextQuery);
        }
        <div>
            <label for="@completionFilter">Filter by completion</label><br/>
            <select id="@completionFilter" asp-items="@WebUtils.GetSelectOptions(PerformedJobCompletionFilter.Values, Model.PerformedJobCompletionFilter)" name="@completionFilter"></select>
        </div>
        <div>
            <label for="@contextQuery">Search by context string</label><br/>
            <input id="@contextQuery" type="search" name="@contextQuery" value="@Model.ContextQuery"/>
        </div>
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
    <form>
        <button type="submit" class="btn btn-primary">Clear filters</button>
    </form>
</div>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Entities[0].Performed)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Entities[0].Context)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Performed.ToString() ?? "Not performed yet")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job!.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./ManageItems" asp-route-id="@item.Id">Items</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
