@page
@using WebApp.MyLibraries
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.ReturnToJobId)
            <div class="form-group">
                <label asp-for="Entity.Name" class="control-label"></label>
                <input asp-for="Entity.Name" class="form-control" />
                <span asp-validation-for="Entity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.OptimalQuantity" class="control-label"></label>
                <input asp-for="Entity.OptimalQuantity" class="form-control" />
                <span asp-validation-for="Entity.OptimalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Price" class="control-label"></label>
                @WebUtils.TextBoxForDecimal(Html, m => m.PriceString, Model.Entity?.Price)
            </div>
            <div class="form-group">
                <label asp-for="Entity.CategoryId" class="control-label">Category</label>
                <select asp-for="Entity.CategoryId" class ="form-control" asp-items="@Model.Categories"></select>
            </div>
            <div>
                <a asp-page="/Categories/Create" asp-route-ReturnToItemCreate="@bool.TrueString" asp-route-ReturnToJobId="@Model.ReturnToJobId">Create new category</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
    @if (Model.ReturnToJobId != null)
    {
        <a asp-page="/Jobs/ManageItems" asp-route-id="@Model.ReturnToJobId"></a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
