@page
@using WebApp.MyLibraries
@model WebApp.Pages.Items.ManageStock

@{
    ViewData["Title"] = "Manage item stock";
}

<h2>Stock for item "@Model.Entity.Name" (Category: @Model.Entity.Category!.Name, Price: @Model.Entity.Price)</h2>
<a class="pb-4" asp-page="./Index">Back to items list</a>

<div class="row justify-content-center pt-4 gap-md-3">
    <div class="col-md-5 @CssCombos.ExternalContainer">
        <h4>Stock</h4>
        Total: @Model.Entity.Quantity
        <div class="d-flex flex-column gap-2">
            @foreach (var itemInStock in Model.Entity.ItemInStocks!)
            {
                <div class="@CssCombos.InnerContainer">
                    <form method="post">
                        @WebUtils.HiddenFor(Html, m => m.ItemInStockId, itemInStock.Id)
                        <div>
                            Location: @WebUtils.TextBoxFor(Html, m => m.Location, itemInStock.Location)
                        </div>
                        <div>
                            Quantity: @WebUtils.TextBoxFor(Html, m => m.Quantity, itemInStock.Quantity, "w-small")
                        </div>
                        <div class="pt-3">
                            @WebUtils.ButtonPrimaryFor(Html, m => m.UpdateItemInStock, "Update")
                            @WebUtils.ButtonDangerFor(Html, m => m.RemoveItemInStock, "Remove")
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="col-md-5 @CssCombos.ExternalContainer">
        <h4>Add stock</h4>
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @WebUtils.HiddenFor(Html, m => m.ItemInStock.ItemId, Model.Entity.Id)
                <div class="form-group">
                    <label asp-for="ItemInStock.Quantity" class="control-label"></label>
                    <input asp-for="ItemInStock.Quantity" class="form-control" />
                    <span asp-validation-for="ItemInStock.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemInStock.Location" class="control-label"></label>
                    <input asp-for="ItemInStock.Location" class="form-control" />
                    <span asp-validation-for="ItemInStock.Location" class="text-danger"></span>
                </div>
                @WebUtils.ButtonSuccessFor(Html, m => m.AddItemInStock, "Add", "mt-3")
            </form>
        </div>
    </div>
</div>