@page
@model IndexModel

@{
    ViewData["Title"] = "Predefined jobs";
}

<h1>Predefined jobs</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Entities[0].TotalCost)
        </th>
        <th>
            Sufficient resources?
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Entities)
    {
        <tr>
            @{ var missingItems = item.MissingItems(Model.Items); }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @if (missingItems.Count > 0)
                {
                    <div class="text-danger border border-1 rounded-3 p-2">
                        <div class="text-danger text-center">No</div>
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Missing item</td>
                                <td>Missing amount</td>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var missingItem in missingItems)
                            {
                                <tr>
                                    <td>
                                        @missingItem.Item.Name
                                    </td>
                                    <td>
                                        @missingItem.Quantity
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="text-center text-success">Yes</div>
                }
            </td>
            <td>
                <a asp-page="/PerformedJobs/Create" class="btn btn-success" asp-route-JobId="@item.Id">Perform job</a>
                <a asp-page="./ManageItems" class="btn btn-primary" asp-route-id="@item.Id">Manage items</a>
                <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>